.Header {
    flex: 1 1 0%;

    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    
    background-color: #ffffff;
    border-bottom: 1px solid black;
}

.header.wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    height: 10vh;
    width: auto;
}

.headerTitle {
    margin-left: 10px;
}
