.Inputs {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vh;
    font-weight: 500;
}

.Inputs .in {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.form {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

select,
option,
input {
    font-size: 2vh;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.submit input {
    height: 6vh;
    width: 12vh;
    margin-top: 2vh;

    color: #eee;

    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 3vh;

    background-color: #009788;

    border-style: none;
    border-radius: 6px;

    cursor: pointer;
}

.close {
    text-decoration: none;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.alert-sucess {
    background-color: #6cb36d;
    color: #114b12;
    border-color: #d6e9c6;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-problem {
    background-color: #c0625b;
    color: #5a0c0c;
    border-color: #d6e9c6;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.message {
    text-align: left;
}